html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;

}
html{
       
    background-image: url('./logo.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
}

body {
    background-color: #ffffffff;
    padding: 20px;;
}

.logo-icon {
  cursor: pointer;
}